<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/BestRideLogo.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <svg height="100%" width="100%">
      <circle cx="0" cy="0" r="230" fill="#00ADFF" />
      <circle cx="0" cy="calc(100%)" r="230" fill="#58A600" />
      <circle cx="calc(100%)" cy="calc(50%)" r="230" fill="#FF3F00" />
    </svg>

    <div class="content">
      <ion-card>
        <form class="form" [formGroup]="registrationForm" (ngSubmit)="submit()">
          <h1>{{'Recover your Account' | customTranslate | async}}</h1>

          <h3>
            {{'A code has been sent to the email. check the mailbox' |
            customTranslate | async}}
          </h3>

          <mat-form-field appearance="outline">
            <mat-label>{{'Code' | customTranslate | async}}</mat-label>
            <input
              matInput
              formControlName="code"
              type="text"
              maxlength="4"
              id="codeInput"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{'New password' | customTranslate | async}}</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label
              >{{'Repeat password' | customTranslate | async}}</mat-label
            >
            <input matInput formControlName="password_repeat" type="password" />
          </mat-form-field>

          <button mat-button id="btn_recover" type="submit">
            {{'Recover Account' | customTranslate | async}}
          </button>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
