* {
  color: black;
  font-weight: 700;
}

#content-menu {
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
    width: 39%;
  }
}

.body {
  background-color: #ff3f00;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  justify-content: center;
  text-align: center;
}

#btn_submit {
  background-color: #ff3f00;
  width: 80%;
  color: #ffffff;
  font-weight: 800;
  font-size: 15px;
  border-radius: 8px;
}
