* {
  font-weight: 600;
}

.conteudo {
  display: flex;
  flex-direction: column;
}

ion-toolbar {
  --background: white;
}

ion-item {
  --bacground: white;
}

.error-message {
  color: red;
}

#imagem {
  padding-top: 2%;
  width: 50%;
  align-self: center;
}

ion-card {
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.body {
  background-color: #ff3f00;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  justify-content: center;
  text-align: center;
  font-size: larger;
}

#btn_login {
  --background: #000000;
  --border-radius: 10px;
  --width: 100%;
  --heigth: 40%;
}
/*
#btn_google {
  --background: white;
  --color: black;
  --border-radius: 10px;
}

#btn_face {
  --background: white;
  --color: black;
  --border-radius: 10px;
}*/
.buttons_social {
  width: 100%;
  justify-content: center;
  #btn_google {
    --background: white;
    --color: black;
    --border-radius: 10px;
    width: 90%;
    margin-top: -22px;
  }

  #btn_face {
    --background: white;
    --color: black;
    --border-radius: 10px;
    width: 90%;
    margin-top: 0px;
  }
}

#content-menu {
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
    width: 39%;
  }
}

h2 {
  color: black;
  font-weight: 900;
  font-size: 22px;
}

ion-button {
  text-align: justify;
  font-weight: 800;
}

.texts {
  color: white;
  justify-content: center;
  h6 {
    line-height: 0.1;
    text-align: justify;
  }
}

@media only screen and (max-width: 320px) {
  .body {
    background-color: #ff3f00;
    height: 100%;
    width: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    justify-content: center;
    text-align: center;
    font-size: larger;
  }
}
