<ion-header>
  <ion-toolbar>
    <img src="assets/BestRideLogo.png" />
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="body">
    <svg height="100%" width="100%">
      <circle cx="-30" cy="50" r="230" fill="#ffba00" />
      <circle cx="360" cy="0" r="120" fill="#58a600" />
      <circle cx="360" cy="600" r="300" fill="#00adff" />
    </svg>
    <div class="content">
      <ion-grid>
        <ion-card>
          <ion-row>
            <ion-col>
              <form class="form" [formGroup]="registrationForm" (ngSubmit)="login()">
                <ion-list>
                  <h1>Login</h1>
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email">
                  </mat-form-field>
                  <mat-error *ngFor="let error of errorMessages.email">
                    <ng-container *ngIf="email.hasError(error.type) && ( email.touched || email.dirty)">
                      <small class="error-message">{{error.message | customTranslate | async}}</small>
                    </ng-container>
                  </mat-error>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                  </mat-form-field>
                  <div *ngFor="let error of errorMessages.password">
                    <ng-container *ngIf="password.hasError(error.type) && ( password.touched || password.dirty)">
                      <small class="error-message">{{error.message | customTranslate | async}}</small>
                    </ng-container>
                  </div>
                  <button mat-button id="btn_login" type="submit">Login</button>
                </ion-list>
              </form>
            </ion-col>
          </ion-row>
        </ion-card>
        <!-- Social Login Buttons-->
        <div class="buttons_social">
          <button mat-flat-button>
            <img src="../../assets/icon/google_logo.svg" id="google_logo">
            Sign up with Google
          </button>
          <br>
          <button mat-flat-button>
            <img src="../../assets/icon/facebook_logo.svg" id="google_logo">
            Sign up with Facebook
          </button>
        </div>
        <!-- Texts -->
        <div class="texts">
          <p>{{'Dont have an account? ' | customTranslate | async}}<u (click)="create_account()">{{'Sign up' |
              customTranslate |
              async}}</u></p>
          <p><u (click)="recover_account()">{{'Forgout your password?' | customTranslate | async}}</u></p>
        </div>


      </ion-grid>

    </div>
  </div>
</ion-content>