<ion-header>
  <ion-toolbar>
    <img src="assets/BestRideLogo.png" />
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <svg height="100%" width="100%">
      <circle cx="0" cy="0" r="230" fill="#BC3592" />
      <circle cx="0" cy="calc(100%)" r="230" fill="#FFBA00" />
      <circle cx="calc(100%)" cy="calc(100%)" r="230" fill="#FF3F00" />
    </svg>

    <div class="content">
      <ion-grid>
        <ion-card>
          <form class="form" [formGroup]="ionicForm">
            <h1>{{'User Definitions' | customTranslate | async |uppercase}}</h1>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'Name' | customTranslate | async}}</mat-label>
              <input matInput formControlName="name" type="text" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'City' | customTranslate | async}}</mat-label>
              <input matInput formControlName="city" type="text" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'Email' | customTranslate | async}}</mat-label>
              <input matInput formControlName="email" type="email" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label
                >{{ 'Phone Number' | customTranslate | async}}</mat-label
              >
              <input matInput formControlName="phone" type="text" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label
                >{{ 'Street address' | customTranslate | async}}</mat-label
              >
              <input matInput formControlName="address" type="text" />
            </mat-form-field>

            <br />

            <button
              mat-button
              (click)="updateUser()"
              id="btn_update"
              type="submit"
            >
              {{'Update Account' | customTranslate | async}}
            </button>

            <br />
            <button
              mat-button
              (click)="alterarPass()"
              id="btn_pwchange"
              type="button"
            >
              {{'Change Password' | customTranslate | async}}
            </button>

            <br />

            <ion-row>
              <ion-col>
                <div class="ion-justify-content-around">
                  <button mat-fab id="btn_delete" (click)="deleteAccount()">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <button mat-fab id="btn_logout" (click)="alterarPass()">
                    <mat-icon>logout</mat-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
      </ion-grid>
    </div>
  </div>
</ion-content>
