* {
  color: black;
  font-weight: 800;
}

.body {
  background-color: #ffba00;
  height: 100%;
  width: 100%;
}

ion-content {
  --background: #ffba00;
}

ion-list {
  width: 100%;
  h2 {
    font-weight: 900;
  }
  p {
    font-weight: 800;
    color: black;
  }
}

.content {
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 5%;
  justify-content: center;
  text-align: left;
  font-size: larger;
}
