* {
  font-weight: 800;
  color: black;
}
#map {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
  justify-content: center;
  text-align: center;
  font-size: larger;
}

.body {
  background-color: #ffba00;
  height: 100%;
  width: 100%;
}

.content {
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 12%;
  padding: 6%;
  justify-content: center;
  text-align: center;
  font-size: larger;

  h1 {
    color: black;
    font-size: 8vw;
    font-weight: 800;
  }

  #btn_submit {
    background-color: #ff3f00;
    width: 70%;
    color: #ffffff;
    font-weight: 800;
    font-size: 15px;
    border-radius: 8px;
  }
}
