<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="login"
        icon="arrow-back-outline"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <img src="assets/BestRideLogo.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <svg height="100%" width="100%">
      <circle cx="0" cy="0" r="230" fill="#00ADFF" />
      <circle cx="0" cy="calc(100%)" r="230" fill="#58A600" />
      <circle cx="calc(100%)" cy="calc(50%)" r="230" fill="#FF3F00" />
    </svg>

    <div class="content">
      <ion-card>
        <ion-list>
          <form
            class="form"
            [formGroup]="registrationForm"
            (ngSubmit)="submit()"
          >
            <h1>{{ 'Recover Account' | customTranslate | async }}</h1>

            <ion-icon name="person-outline"></ion-icon>
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" required />
            </mat-form-field>

            <br />
            <button mat-button id="btn_recover" type="submit">
              {{'Next' | customTranslate | async}}
            </button>
          </form>
        </ion-list>
      </ion-card>
    </div>
  </div>
</ion-content>
